################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

.vs
.vscode
**/obj
**/build
**/out
**/.build
**/bin
**/Debug
**/Release
packages/**/src
*.stash
*.o
*.user
*.idb
*.pdb
*.obj
**/CMakeLists.txt.user
**/CMakeSettings.json
*.code-workspace
